.footer {
  flex-shrink: 0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  padding: 20px;
  text-align: center;
}
  
  .footer p {
    margin: 0;
    text-align: center;
    font-size: 14px;
  }